/* color code used
#fff89a
#ffc920
#086e7d
#1a5f7a
*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    font-family: 'Poppins', sans-serif;
    background-color:#fff89a;
    color: #086e7d;
   font-size: large;
}
header:hover{
    color: #1a5f7a;
}
.logo{
    width: 80px;
    
}
.mangoFarm{
    font-size: x-large;
    margin-left: 10px;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.lgnBox{
    display: flex;
    justify-content: center;
}
